.container {
  height: 600px;
  width: 600px;
  padding: 25px;
  margin-bottom: 50px;
  perspective: 1000px;
}

.tiltBoxWrap {
  width: 600px;
  height: 600px;
  position: relative;
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiltBoxWrap:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.025);
}

.tiltBox {
  border-radius: 30px;
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  transition: all 0.5s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
  transform-origin: center center 0px;
}

.tilt-box strong {
  transform: translateZ(40px);
}

.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  pointer-events: auto;
  z-index: 1;
}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}
.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}
.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}
.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}
.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}
.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}
.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}
.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}
.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}

.t_over:nth-child(1):hover ~ .tiltBox {
  transform: rotateX(-6deg) rotateY(6deg);
}
.t_over:nth-child(2):hover ~ .tiltBox {
  transform: rotateX(-6deg) rotateY(0deg);
}
.t_over:nth-child(3):hover ~ .tiltBox {
  transform: rotateX(-6deg) rotateY(-6deg);
}
.t_over:nth-child(4):hover ~ .tiltBox {
  transform: rotateX(0deg) rotateY(6deg);
}
.t_over:nth-child(5):hover ~ .tiltBox {
  transform: rotateX(0deg) rotateY(0deg);
}
.t_over:nth-child(6):hover ~ .tiltBox {
  transform: rotateX(0deg) rotateY(-6deg);
}
.t_over:nth-child(7):hover ~ .tiltBox {
  transform: rotateX(6deg) rotateY(6deg);
}
.t_over:nth-child(8):hover ~ .tiltBox {
  transform: rotateX(6deg) rotateY(0deg);
}
.t_over:nth-child(9):hover ~ .tiltBox {
  transform: rotateX(6deg) rotateY(6deg);
}
