.container {
}

.body {
  overflow-y: hidden;
}

.body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: red;
}

.body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: red;
}
